@import url(reset.css);
header .apresentation, header nav, .quemSou, .conhecimento, .contato, .form, footer {
  height: auto; }

/*Geral*/
body {
  font-size: 16px;
  font-family: sans-serif; }

header {
  width: 100%;
  height: 450px;
  padding: 1.5em 2em .8em 70px;
  background-color: #25262a;
  display: flex;
  align-items: baseline;
  justify-content: space-between; }
  header .apresentation {
    width: 30%;
    border-left: 5px solid #fff;
    padding-left: 10px;
    display: flex;
    align-self: center; }
    header .apresentation h1 {
      color: #eee;
      display: block;
      font-size: 3.4em;
      text-transform: uppercase;
      font-weight: 100; }
  header nav {
    width: 400px;
    /*Lista do menu*/ }
    header nav ul {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      header nav ul li a {
        font-size: 16px;
        text-transform: uppercase;
        color: black;
        transition: linear .3s;
        color: #fff; }
      header nav ul :hover {
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff; }

.redes-sociais {
  width: 200px; }

.redes-sociais ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .redes-sociais ul li a i {
    display: flex;
    align-self: center;
    color: #25262a;
    font-size: 26px;
    padding: 5px;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    font-weight: bolder; }
    .redes-sociais ul li a i:hover {
      font-weight: lighter; }

.quemSou {
  width: 100%;
  height: 500px;
  background-color: #f0e9b7;
  padding: 4rem; }
  .quemSou h2 {
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    color: #25262a;
    margin-bottom: 20px;
    color: #25262a; }
  .quemSou div {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .quemSou div p {
      width: 50%;
      text-align: justify; }
  .quemSou .caixa-imagem {
    width: 290px;
    height: 290px;
    margin-left: 30px; }
    .quemSou .caixa-imagem img {
      border-radius: 50%;
      width: 100%;
      transition: ease .3s; }
      .quemSou .caixa-imagem img:hover {
        cursor: pointer;
        width: 310px; }

.conhecimento {
  width: 100%;
  overflow: hidden;
  padding-top: 50px; }
  .conhecimento h2 {
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .conhecimento .secao-conhecimento {
    width: 100%;
    padding: 80px 40px;
    margin-bottom: 20px;
    background-color: #25262a; }
    .conhecimento .secao-conhecimento h3 {
      font-size: 24px;
      font-weight: 100;
      color: #eee;
      margin-bottom: 30px; }
    .conhecimento .secao-conhecimento p {
      color: #eee;
      font-weight: 400; }
  .conhecimento .secao-conhecimento:last-child {
    margin-bottom: 0px; }

.contato {
  width: 100%;
  overflow: hidden; }
  .contato .chamada-contato {
    width: 100%;
    height: 150px;
    background-color: #eee;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center; }
    .contato .chamada-contato h2 {
      font-size: 2em;
      margin-bottom: 0.3em;
      text-transform: uppercase; }

.form {
  width: 100%;
  padding: 5em 70px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }
  .form input {
    margin-bottom: 50px;
    outline: none;
    transition: linear .3s;
    width: 400px;
    border: none;
    border-bottom: 2px solid #25262a; }
    .form input:focus {
      padding: .9em .3em;
      color: #25262a; }
  .form input[type=text]::placeholder {
    font-size: 1.3em; }
  .form textarea {
    width: 400px;
    height: 100px;
    outline: none;
    border: 1px solid #25262a;
    font-size: 1.3em;
    padding: .3em;
    color: #25262a;
    margin-bottom: 50px; }
  .form button {
    width: 100px;
    padding: .8em;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: lighter;
    background-color: #25262a;
    color: #eee;
    box-shadow: 3px 5px;
    transition: ease .2s; }
    .form button:hover {
      font-weight: bolder;
      padding: .9em;
      background-color: #3d3f45; }

footer {
  width: 100%;
  height: 300px;
  background-color: #f0e9b7;
  display: flex; }

/*# sourceMappingURL=projeto.css.map */
